@model Order
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<link rel="stylesheet" href="~/css/Checkout.css" asp-append-version="true" />
<section class="ezy__eporder3 gray">
    <div class="container py-5">
        <div class="row justify-content-center">
            <!-- progress bar -->
            <div class="col-12">
                <div class="ezy__eporder3-progress d-flex justify-content-between position-relative mb-5">
                    <span class="ezy__eporder3-cart active">1</span>
                    <span class="ezy__eporder3-bill active">2</span>
                    <span class="ezy__eporder3-completed">3</span>
                </div>
            </div>
            <div class="col-12">
                <div class="ezy__eporder3-wrapper row justify-content-between p-4 p-lg-5 mt-4">
                    <!-- form -->
                    <div class="col-12 col-lg-5">

                        <form asp-action="Checkout" method="post" enctype="multipart/form-data">
                            <div class="form-group mt-4">
                                <label asp-for="ShippingAddress">Shipping Address</label>
                                <input asp-for="ShippingAddress" class="form-control" />
                            </div>
                            <div class="form-group mt-4">
                                <label asp-for="Notes">Notes</label>
                                <textarea asp-for="Notes" class="form-control"></textarea>
                            </div>
                            <input type="submit" name="payment" class="btn ezy__eporder3-btn w-100" value="Thanh Toán VnPAY"></input>
                        </form>
                    </div>

                    <!-- payment -->
                    <div class="col-12 col-lg-6">
                        <div class="ezy__eporder3-card card border-0 mt-4 mt-lg-0">
                            <div class="p-3 px-lg-5 pt-lg-5 card-body">
                                <h4 class="mb-5">Your Order</h4>
                                <div class="row">
                                    <div class="col-8">
                                        <h6 class="mb-0">Product</h6>
                                    </div>
                                    <div class="col-4">
                                        <h6 class="mb-0">Subtotal</h6>
                                    </div>
                                </div>
                                <hr class="my-4" />
                                <div class="row">
                                    <div class="col-8">
                                        <h6 class="mb-0"></h6>
                                    </div>
                                </div>
                                <hr class="my-4" />
                                <div class="row">
                                    <div class="col-8">
                                        <h6 class="mb-0">Total</h6>
                                    </div>
                                    <div class="col-4">
                                        <h6 class="mb-0"></h6>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-body pt-0 p-3 p-lg-5">
                                <form class="ezy__eporder3-payment p-4">
                                    <h6>VnPay</h6>
                                    <div class="form-check d-flex align-items-center mt-3 mb-4">
                                        <input class="form-check-input me-3" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                               checked />
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQULr3Ust3Yw-IS1KvGuHQFys81W1ava9Ohd8gduuRPXA&s" alt=""
                                             class="img-fluid" />
                                    </div>
                                    <form asp-action="Checkout" method="post" enctype="multipart/form-data">
                                        <input type="submit" name="payment" class="btn ezy__eporder3-btn w-100" value="Thanh Toán VnPAY"></input>
                                    </form>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>