@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebDACS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebsiteDACS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light text-bg-light">
        <div class="container"></div>
    </nav>
    <section class="bodyshop">
        <div class="container text-center">
            <div class="row align-items-center">
                <div class="col-4">
                    <aside class="info">
                            <h1>
                                New brand, new shirt
                                <p>Always lead<strong style="color:aquamarine"> the Model</strong></p>
                            </h1>
                            <p1 class="text-center-black">
                                Quick to buy it!
                            </p1>
                        <p1 ><button type="submit" class="btn btn-primary"><a class="text-light" style="text-decoration:none" href="/Home/IndexItem">BUY NOW!</a></button></p1>
                    </aside>
                </div>
                <div class="col-8">
                    <img src="https://i.pinimg.com/564x/76/c7/6c/76c76c185006e3253a5ac493f06494b2.jpg" class="img1" alt="clothes" style="width: 1950, height:89" />
                </div>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-expand-lg navbar-light text-bg-light">
        <div class="container"></div>
    </nav>


    <section class="ezy__epcategory10 light">
        <!-- shapes -->
        <div class="position-absolute top-0 end-0 bg-tertiary">
            <img src="https://i.pinimg.com/564x/a9/b3/95/a9b3950813614730ea7d1aa6caa429d6.jpg" alt="" />
        </div>

        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-12 text-center mb-5">
                    <h2 class="ezy__epcategory10-heading">Top Category</h2>
                </div>

                <div class="col-12 mt-5">
                    <div id="ezy__epcategory10-controls" class="carousel slide position-relative" data-ride="carousel">
                        <div class="carousel-inner position-relative overflow-visible">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-3 my-5">
                                        <a href="#!" class="ezy__epcategory10-item rounded-pill">
                                            <div class="ezy__epcategory10-img">
                                                <img src="https://i.pinimg.com/564x/87/f1/2b/87f12bfb2ed2ae9fbe0c64f1aca6968a.jpg" alt="img1" />
                                            </div>
                                            <h4 class="mb-4 fw-bold">Jacket</h4>
                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-3 my-5">
                                        <a href="#!" class="ezy__epcategory10-item rounded-pill">
                                            <div class="ezy__epcategory10-img">
                                                <img src="https://i.pinimg.com/564x/62/ba/e5/62bae57803a6d6cb0cb96e6889235c28.jpg" alt="img2" />
                                            </div>
                                            <h4 class="mb-4 fw-bold">Pants</h4>
                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-3 my-5">
                                        <a href="#!" class="ezy__epcategory10-item rounded-pill">
                                            <div class="ezy__epcategory10-img">
                                                <img src="https://i.pinimg.com/564x/66/71/6c/66716c4eda834d3945b7e166f6d1f303.jpg" alt="img3" />
                                            </div>
                                            <h4 class="mb-4 fw-bold">Shirts</h4>
                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-3 my-5">
                                        <a href="#!" class="ezy__epcategory10-item rounded-pill">
                                            <div class="ezy__epcategory10-img">
                                                <img src="https://i.pinimg.com/564x/c8/3a/c8/c83ac86c8347ccc072fdd7ad3c0a937a.jpg" alt="img4" />
                                            </div>
                                            <h4 class="mb-4 fw-bold">Socks</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev ezy__epcategory10-arrow-left"
                                type="button"
                                data-bs-target="#ezy__epcategory10-controls"
                                data-bs-slide="prev">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                        <button class="carousel-control-next ezy__epcategory10-arrow-right"
                                type="button"
                                data-bs-target="#ezy__epcategory10-controls"
                                data-bs-slide="next">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <nav class="navbar navbar-expand-lg navbar-light text-bg-light">
        <div class="container"></div>
    </nav>
    <section class="bodyshop2">
        <div class="container text-center">
            <div class="row align-items-center">
                <div class="col">
                    <img class="img2" src="https://i.pinimg.com/564x/87/d5/1c/87d51cb5a58438758e7fc8fc60515ea8.jpg" alt="shopview" style="width: 149, height: 39" />
                </div>
                <div class="col">
                    <p2 class="inforshop">
                        <h class="fw-bold">Reputable customer, reputable purchaser</h>
                        <h2 class="fw-bold">Always the top choice</h2>
                        <p3 class="text-light" style="text-decoration:none"><button type="submit" class="btn btn-info"><a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">SignIn</a></button></p3>
                        <p4 class="text-light" style="text-decoration:none"><button type="submit" class="btn btn-info"><a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a></button></p4>
                    </p2>
                </div>
            </div>
        </div>
    </section>

    <button type="button"><img src="https://static.thenounproject.com/png/2331757-200.png" alt="scroll" style="width:59" height="54" onclick="topFunction()" id="myBtn" title="Go to top" /></button>
    <style>
        .info {
            font-family: 'Times New Roman';
            text-align: center;
            padding-bottom: 64px;
        }

        #myBtn {
            display: none; /* Hidden by default */
            position: fixed; /* Fixed/sticky position */
            bottom: 20px; /* Place the button at the bottom of the page */
            right: 30px; /* Place the button 30px from the right */
            z-index: 99; /* Make sure it does not overlap */
            border: none; /* Remove borders */
            outline: none; /* Remove outline */
            background-color: cyan; /* Set a background color */
            color: white; /* Text color */
            cursor: pointer; /* Add a mouse pointer on hover */
            padding: 15px; /* Some padding */
            border-radius: 10px; /* Rounded corners */
            font-size: 18px; /* Increase font size */
        }

            #myBtn:hover {
                background-color: #555; /* Add a dark-grey background on hover */
            }

    </style>

</body>
</html>